$test: true;

@include xdefine("xDefine") {
  @include it("shouldnt run") {
    $test: false;
    @include should(null, $test);
  }

  @include define("normal submodule") {
    @include it("shouldnt run sub-modules") {
      $test: false;
      @include should(null, $test);
    }
  }
}

@include define("xDefine") {
  @include xdefine("Submodule") {
    @include it("shouldnt run sub-modules") {
      $test: false;
      @include should(null, $test);
    }
  }

  @include it("should run after xdefined sub-modules") {
    @include should(null, $test);
  }
}
