$test: true;

@include xdescribe("xDescribe") {
  @include it("shouldnt run") {
    $test: false;
    @include should(null, $test);
  }

  @include describe("normal submodule") {
    @include it("shouldnt run sub-modules") {
      $test: false;
      @include should(null, $test);
    }
  }
}

@include describe("xDescribe") {
  @include xdescribe("Submodule") {
    @include it("shouldnt run sub-modules") {
      $test: false;
      @include should(null, $test);
    }
  }

  @include it("should run after xdescribed sub-modules") {
    @include should(null, $test);
  }
}
