@include define("Should") {
  @include it("should set the text and value") {
    $when: should("be the correct", "value", true);
    $text: $bootcamp-should-b-text;
    $value: $bootcamp-should-b-value;

    @include should( expect( $text  ), to( be("be the correct")));
    @include should( expect( $value ), to( be("value")));
  }
}
